@page "/geofenceditor"
@using WebUI.Data

@inject DroneControlService drone
@inject IJSRuntime JSRuntime

<PageTitle>Geofence Editor</PageTitle>

<h1>Geofence Editor</h1>

<p>Draw the drones geofence below.</p>
<p>
<button @onclick="SaveGeofence">Save Map</button><label> @response</label>
<button @onclick="GeneratePath">Generate Path</button>
<button @onclick="GenerateSurvey">Generate Survey</button>
<button @onclick="ClearMarkers">Clear Markers</button>
</p>
<div id="map" style="height:calc(100vh - 14rem);width:100%;"></div>

@code{
    public string response = "";

    public async void SaveGeofence()
    {
        var data = await JSRuntime.InvokeAsync<Object>("geofenceEditor.getData", null);
        drone.SendCommand("Geofence: " + data);

        while (!drone.CheckResponses(ref response));

        StateHasChanged();
    }

    public async void ClearMarkers()
    {
        await JSRuntime.InvokeVoidAsync("geofenceEditor.clearMarkers", null);
    }

    public async void GeneratePath()
    {
        var data = await JSRuntime.InvokeAsync<Object>("geofenceEditor.getMarkers", null);
        drone.SendCommand("MakePath: " + data);

        string path = "";
        while (!drone.CheckResponses(ref path));
        while (!drone.CheckPathResponses(ref path));

        await JSRuntime.InvokeVoidAsync("geofenceEditor.setMarkers", path);
    }

    public async void GenerateSurvey()
    {
        var data = await JSRuntime.InvokeAsync<Object>("geofenceEditor.getMarkers", null);
        drone.SendCommand("MakeSurvey: " + data);

        string path = "";
        while (!drone.CheckResponses(ref path));
        while (!drone.CheckSurveyResponses(ref path));

        await JSRuntime.InvokeVoidAsync("geofenceEditor.setMarkers", path);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            drone.SendCommand("GetGeofence");

            Thread.Sleep(100);

            string data = "";
            while (!drone.CheckResponses(ref data, false));

            await JSRuntime.InvokeVoidAsync("geofenceEditor.setData", data);
            await JSRuntime.InvokeVoidAsync("initGeofenceEditor", null);
            StateHasChanged();
        }

    }
}
