@page "/"

@using System
@using System.Timers
@using WebUI.Data

@inject DroneControlService drone

<PageTitle>Live Feed</PageTitle>

<h1>Live Feed</h1>

<p><img src="@imagePath" style="width:100%; height:100%;
    object-fit: cover; overflow: hidden;" id="frame"/></p>

@code {
    public string imagePath = "";
    private Timer timer = new Timer(100);

    public string response = "N/A";

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.AutoReset = true;
        timer.Start(); 
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
       {    
            try {
                imagePath = drone.GetCurrentFrame();
                StateHasChanged();
            } catch (Exception e) {
                Console.WriteLine(e);
            }
        });
    }
}
