@page "/"

@using System
@using System.Timers
@using WebUI.Data

@inject DroneControlService drone

<PageTitle>Live Feed</PageTitle>

<h1>Live Feed</h1>

<p><img src="@imagePath" style="max-width: 100%;" id="frame"/></p>
<p><button @onclick="TestFlight">Fly a loop!</button></p>
<p><label>@response</label></p>

@code {
    public string imagePath = "";
    private Timer timer = new Timer(30);

    public string response = "N/A";

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.AutoReset = true;
        timer.Start(); 
    }

    public void TestFlight()
    {
        drone.SendCommand("TestFlight");

        while (!drone.CheckResponses(ref response));

        StateHasChanged();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
       {    
            try {
                imagePath = drone.GetCurrentFrame();
                StateHasChanged();
            } catch (Exception e) {
                Console.WriteLine(e);
            }
        });
    }
}
