@page "/"

@using System
@using System.Timers
@using WebUI.Data

@inject NavigationManager nav
@inject DroneControlService drone

<PageTitle>Video Test</PageTitle>

<div>Frame: @count</div>
<img src="@imagePath" id="frame">

@code {
    public string imagePath = "/Videos/current_frame0.bmp" + "?DummyId=" + DateTime.Now.Ticks;
    private Timer timer = new Timer(20);

    private int count = 0;

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.AutoReset = true;
        timer.Start(); 
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
       {    
            try {

                if (System.IO.File.Exists("/home/brady/Projects/NOCTIS/WebUI/wwwroot/Videos/current_frame" + (count + 2) + ".bmp"))
                {
                    imagePath = "/Videos/current_frame" + count++ + ".bmp" + "?DummyId=" + DateTime.Now.Ticks;
                } else if (!System.IO.File.Exists("/home/brady/Projects/NOCTIS/WebUI/wwwroot/Videos/current_frame2.bmp")){
                    count = 0;
                }
            } catch (Exception e)
            {
                Console.WriteLine(e);
            }

            StateHasChanged();
        });
    }
}
