@page "/"

@using System
@using System.Timers
@using WebUI.Data

@inject NavigationManager nav
@inject DroneControlService drone

<PageTitle>Live Feed</PageTitle>

<img src="@imagePath" style="max-width: 100%;" id="frame"/>

<p>
    <button @onclick="MsgDCS">
        Fly a loop!
    </button>
</p>

<p>
    <label>
        @response
    </label>
</p>

@code {
    public string imagePath = "";
    private Timer timer = new Timer(30);

    public string response = "N/A";

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.AutoReset = true;
        timer.Start(); 
    }

    public void MsgDCS()
    {
        drone.SayHello();

        while (!drone.CheckResponses(ref response));
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
       {    
            try {
                imagePath = drone.GetCurrentFrame();
                StateHasChanged();
            } catch (Exception e) {
                Console.WriteLine(e);
            }
        });
    }
}
