@page "/"

@using System
@using System.Timers
@using WebUI.Data

@inject NavigationManager nav
@inject DroneControlService drone

<PageTitle>Video Test</PageTitle>

<img src="@imagePath" id="frame">

<p>
    <button @onclick="MsgDCS">
        Fly a loop!
    </button>
</p>

<p>
    <label>
        @response
    </label>
</p>

@code {
    public string imagePath = "/Data/Videos/current_frame0.jpg" + "?DummyId=" + DateTime.Now.Ticks;
    private Timer timer = new Timer(250);

    private int count = 0;
    public string response = "N/A";

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.AutoReset = false;
        timer.Start(); 
    }

    public void MsgDCS()
    {
        drone.SayHello();

        while (!drone.CheckResponses(ref response));
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
       {    
            try {
                timer.Stop();

                string str_count = count.ToString();
                str_count = (str_count == "") ? "0" : str_count; 

                imagePath = "/Data/Videos/current_frame" + str_count + ".jpg" + "?DummyId=" + DateTime.Now.Ticks;

                count += 1;
                count %= 8;

                str_count = count.ToString();
                str_count = (str_count == "") ? "0" : str_count; 

                System.IO.File.WriteAllBytes(
                        "/home/noctis/NOCTIS/WebUI/wwwroot/Data/Videos/current_frame" + str_count + ".jpg",
                        drone.GetCurrentFrame()
                    );

                timer.Start();
            } catch (Exception e) {
                Console.WriteLine(e);
            }

            StateHasChanged();
        });
    }
}
