@page "/"

@using System
@using System.Timers
@using WebUI.Data

@inject DroneControlService drone

<PageTitle>Live Feed</PageTitle>

<h1>Live Feed</h1>

<p><img src="@imagePath" style="max-width: 100%;" id="frame"/></p>
<p><button @onclick="Connect">Connect</button></p>
<p><button @onclick="Disconnect">Disconnect</button></p>
<p><button @onclick="Survey">Survey</button></p>
<p><button @onclick="Restart">Restart</button></p>
<p><label>@response</label></p>

@code {
    public string imagePath = "";
    private Timer timer = new Timer(64);

    public string response = "N/A";

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.AutoReset = true;
        timer.Start(); 
    }

    public void Connect()
    {
        drone.SendCommand("ConnectDrone");

        while (!drone.CheckResponses(ref response));

        drone.StreamState(true);
        StateHasChanged();
    }

    public void Disconnect()
    {
        drone.SendCommand("DisconnectDrone");
        drone.StreamState(false);

        while (!drone.CheckResponses(ref response));

        StateHasChanged();
    }

    public void Survey()
    {
        drone.SendCommand("Survey");

        while (!drone.CheckResponses(ref response));

        StateHasChanged();
    }

    public void Restart()
    {
        drone.RestartDroneService();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
       {    
            try {
                imagePath = drone.GetCurrentFrame();
                StateHasChanged();
            } catch (Exception e) {
                Console.WriteLine(e);
            }
        });
    }
}
